{% extends "catalog/base.html" %}

{% block more_style %}
<style media="screen">
html,
body,
.fullpage {
    height: 100%
}
</style>
{% endblock %}

 {% block body %}
<div class="container">
    <div class="row center-align">
        {% if validlink %}
            <p>Please enter and confirm your new password</p>

            <form class="form" action="" method="post">
                {% csrf_token %}
                <div class="input-field">
                    {{form.new_password1.errors}}
                  {{form.new_password1}}
                  <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.verbose_name}}</label>
                  <small class="text-muted">{{form.new_password1.help_text}}</small>
                  </div>
                  <div class="input-field">
                      {{form.new_password2.errors}}
                    {{form.new_password2}}
                    <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.verbose_name}}</label>
                    <small class="text-muted">{{form.new_password2.help_text}}</small>
                    </div>
                  <div class="">
                      <input type="submit" name="submit" value="Reset Password" class="btn waves-effet waves-light gd-teal">
                  </div>
            </form>
            {% else %}
            <h1>Password Reset Failed</h1>
            <p>The password reset link was invalid, likely because it has already expired.  Please request a new link.</p>
        {% endif %}
    </div>
</div>
 {% endblock %}
