/*
scss/main.scss
This file defines the imports of our various component SASS files.
*/
/*
----------------------------------------------------------------
footer.css

A set of rules to style footer elements.

*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 1em; }

/*
scss/_gradients.scss
---------------------------------------------------------------
A file for defining gradient classes that can be applied to any element that supports a background-image property.
*/
.gd-teal {
  background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%); }

.gd-lightblue {
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%); }

.gd-lightorange {
  background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%); }

.gd-tealblue {
  background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%); }

.gd-aquadark {
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%); }

.gd-brightorange {
  background-image: linear-gradient(135deg, #FDD819 10%, #E80505 100%); }

.gd-darkred {
  background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%); }

.gd-brightblue {
  background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%); }

.gd-morebluer {
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%); }

/*
scss/_highlights.scss
---------------------------------------------------------------
A file for defining style rules pertaining to text colors, background-color and other means of highlighting portions of our pages.
*/
.overdue {
  color: #FF0000;
  font-weight: bold; }

/*
assets/scss/_spacing.scss
---------------------------------------------------------------
This file defines spacing rules that I find helpful
but not all my perferred front-end libraries include
*/
.mt-1 {
  margin-top: 1em; }

.mt-2 {
  margin-top: 2em; }

.mt-3 {
  margin-top: 3em; }

.mt-4 {
  margin-top: 4em; }

.mt-5 {
  margin-top: 5em; }

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em; }

.my-4 {
  margin-top: 4em;
  margin-bottom: 4em; }

.my-5 {
  margin-top: 5em;
  margin-bottom: 5em; }
