{% extends "catalog/base_index.html" %}

{% block content %}
    <h3>Book List</h3>

    {% for book in book_list %}
        {% if forloop.first %}
            <div class="collection">
        {% endif %}
        <li class="collection-item"><a href="{{book.get_absolute_url}}">{{book.title}}</a> ({{book.display_author}})  -  {{book.copies_available}} available</li>
        {% if forloop.last %}
            </div>
        {% endif %}
    {% empty %}
        <h4>No Books!</h4>
        <div class="divider"> </div>
        <p>This is very sad.  What is a library without books?</p>
    {% endfor %}
{% endblock %}
